body{
  background-color: #F5F5F5 
  /*background-color: #EAEAEA */
}

.w3-sidebar {
  z-index: 4;
  width: 250px;
  top: 42px;
  bottom: 0;
  height: inherit;
}
.responsive {
  width: 100%;
  height: auto;
}
.left{
	left:00px;
	width:auto;
	right:0px;
}
.leftnavi {

	background-color: #A41035;
	color: black;
}

#profile-info {
  font-size: 14px; /* Default font size */
}
